<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>お問い合わせ</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>お問い合わせ</h1>
    <form action="index.html" method="get">
        <table border="1">
            <tr>
                <th>名前</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>性別</th>
                <td>
                    <input type="radio" name="gender" value="m">男性
                    <input type="radio" name="gender" value="f">女性
                    <input type="radio" name="gender" value="o">その他
                </td>
            </tr>
            <tr>
                <th>内容</th>
                <td>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </td>
            </tr>
        </table>
        <input type="submit" value="送信"><br>
    </form>
    <br>
    <a href="index.html">自己紹介ページへ戻る</a>
</body>
</html>