index
html
2/5
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>自己紹介</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>自己紹介</h1>
﻿
    <p>
        はじめまして！株式会社LULLの八木です。<br>
        サブ講師として皆さまのステップアップにお力添えできるよう誠意をもって頑張ります。よろしくお願いいたします。
    </p>
﻿
    <img id="image" class="profile" src="photo.jpg" alt="顔写真">
﻿
    <table>
        <tr>
            <th id="click">ここをクリック</th>
            <td id="message"></td>
          </tr>
        <tr>
            <th>名前</th>
            <td>田中リスキル太郎</td>
        </tr>
        <tr>
            <th>会社名</th>
            <td>株式会社リスキル</td>
        </tr>
        <tr>
            <th>出身地</th>
            <td>神奈川県</td>
        </tr>
        <tr>
            <th>趣味・特技</th>
            <td>
                学生時代：ブレイクダンス、同人活動<br>
                現在：子供（息子5歳、娘3歳）と遊ぶ
            </td>
        </tr>
        <tr>
            <th>プログラミング経験</th>
            <td>
                Java(Spring) / PHP(Laravel) / Ruby(Rails) / Python / VB.NET / HTML / CSS / JavaScript
            </td>
        </tr>
        <tr>
            <th>研修への意気込み</th>
            <td>
               最高の研修を提供することを約束します<br>
               皆さん全力で自走するエンジニアを目指しましょう！
            </td>
        </tr>
        </tr>
            <td><button id="button">メッセージ表示</button></td>
            <td><input id="input" type="text"></td>
        </tr>
    </table>
    <a href="contact.html">お問い合わせ</a>
﻿
    <script>//JS部分　つまり動的動作部分　今回のインナーHtmlはココ！//
        function showMessage(str) {
            message.innerHTML = str;//24行目のメッセージはstrですよって定義　str自体はなんでもいい innnerHTMLは
        }
        function showImage(file) {
            image.src = file;
        }
        let click = document.querySelector("#click");
        let message = document.querySelector("#message");
        let image = document.querySelector("#image");
        let input = document.querySelector("#input");
        let button = document.querySelector("#button");
        click.addEventListener("click", function() { showMessage("よろしくお願いします") })
        image.addEventListener("click", function() { showImage("smile.png")} );
        button.addEventListener("click", function() { showMessage(input.value)} );
    </script>
</body>
</html>
